/* h1{color:green;}*/
h1{color:#F0A050;}
th.important{color:red;}

p.sample1{border:double 10px#000ff;}
p.sample2{border:inset 10px #ff000;}
p.sample3{margin:30px 30px;padding:10px;border:medium solid #ff00ff;}
